<h1>Stupid coaching</h1>
<div class="question">
  <p> <%= @question %></p>
  <p>-You</p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>
</div>

<%= link_to "Try again", ask_path %>
